/* LandingPageBody.css */
.landing-page-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#b9d7b6;
    height:100vh;
    
  }

.slider-container {
  width: 1000px;
  height: 700px;
  margin-top: 80px; 
  margin-left: 60px; 
  margin-right: 20px;
  overflow: hidden;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px; 
}
.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 100px; 
  border-top-right-radius: 100px; 
}



  .content-firstP {
    text-align: left;
    color: #465f33;
    max-width: 800px;
    font-family: 'prata';
    margin-left:-50px;
   
  }
  
  .mini-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #465f33;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    font-size: 10px;
    font-family: 'gil-sans';
    color: white;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    cursor: pointer;
  }
  
  
  .mini-button p {
    margin: 0; /* Remove default margin for the paragraph */
  }
  
  
  .Body-page{
    color:#465f33;
    font-family:'Prata';
   
  }

  /* AboutUsSection.css */
.about-us-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50vh; 
    padding: 0 20px;
    background-color: #f8f8f8;
  }
  
  .content {
    text-align: left;
  }
  
  .about-paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
  }
  
  
  p {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  
  /* TestimonialsPage.css */
  .testimonials-page {
    background-color:#f8f8f8;
    color:#465f33;
   
  }
  
 
  .testimonial-container {
    display: flex;
    flex-direction: row; 
    overflow-x: auto; 
   
  }
  
  .testimonials-page {
  background-color:#f8f8f8;
    
    text-align:center;
    
  }
  
  .testimonal-page h1 {
    color: white;
   
  }
  
 
  .testimonial {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(0, 0.1, 0.1, 0.2);
    margin-right: 10px;
    padding: 15px;
  }
  
  .testimonial-text {
    font-size: 16px;
    color: #333;
  }
  
  .testimonial-author {
    margin-top: 10px;
    font-style: italic;
    color: #888;
  }
  
  /* Media Queries for Responsive Design */
  @media screen and (max-width: 768px) {
    .testimonial-container {
      flex-wrap: wrap; 
    }
  
    .testimonial {
      margin-right: 0;
      margin-bottom: 10px; 
    }
  }
  
  
/* BranchServicesTable.css */
.branch-services-section {
  background-color:f8f8f8;
  text-align:center;
  height:50vh;
margin-bottom:10em;
  padding:10em;
  justify-content:center;


}
.table-description p{
  display:flex;
  justify-content:center;
  text-align:justify;
  font-size:16px;



 
}
.custom-table {
  width: 100%;
  background-color: #f8f8f8; 
  border-radius:30px;
  justify-content:center;
}

.even-row {
  background-color: #b9d7b6;
}

.odd-row {
  background-color: white; 
}


/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .branch-services-section {
    padding: 10px;
  }
}

  /* ContactUsSection.css */
  .contact-us-section {
    padding: 40px 0;
    background-color:#465f33;
    color:#b9d7b6;
  }
  
  .contact-us-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .contact-us-section p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .contact-form {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 10px;
  }
  
  .contact-form label {
  font-weight: bolder;
  margin-top:10px;

  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .contact-form button {
    background-color:#465f33; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #b9d7b6; 
  }
  
  

  .slider-container-services {
    width: 300px;
    text-align: center;
    height: 700px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 20px;
    overflow: hidden;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
  }
  
  .services-page {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    text-align: left;
    background-color: #f8f8f8;
    padding-top: 20px;
    color: #465f33;
    height: 100vh;
  }
  .description-page{
  
    margin: 10px; 
    padding: 10px;
  }
  
  #service-header {
    text-align: left;
    margin-bottom: 20px;
  }
  #paragraph-description{
    font-size:20px;
    align-items: justify;
    max-width: 600px;
  margin: 0 auto; 
  }
  



  .container-captions {
    font-family: 'gil-sans';
    font-size: 20px;
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
  }
  h1 h2 h3 h4 {
    font-family:'prata'
  }

  .image-caption h3{
 
  font-family:'gil-sans';
  font-weight:bold;
  margin-top:10px;
  }
 
    .about-us img {
      max-width: 100%;
      height: auto;
      display: block; 
    }
    
    .content {
      display: flex;
      align-items: center; 
    }
    
    .about-caption {
     margin:30px;
      margin-left: 10px; 
      text-align: justify;
      font-size: 12px; 
    }
    
    .about-us-section {
      display: flex;
      justify-content: center;
      align-items: center; 
      
      padding: 0 20px; 
     
    }
    .about-icons {
      display: flex;
    }
    
    .about-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 20px 0; 

    }
    .about-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color:#465f33;
      color:white;
    
   }
    

    
    .about-icon p {
     
      text-align: center; 
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis; 
    }
    
    .icon-description {
      font-size: 12px; 
    }
    
     body {
      margin: 0;
      padding: 0;
    }

    #slider-container {
      position: fixed;
      top: 0;
      right: 0;
      width: 800px;
      height: 500px;
      overflow: hidden;
      border: 1px solid #ccc; 
    }

    #slider-images {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .slider-image {
      width: 800px;
      height: 500px;
    }